$color-black-round: #000
$color-black-bravo: #0f0f0f
$color-black-charlie: #1e1e1e

*
	color: #fff
	font-family: 'Franklin Gothic'

body
	margin: 0

html
	background-color: #000

h1, h2, h3, h4, h5, h6, p
	line-height: normal
	margin: 0

.cards
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	width: 100%

	div
		border-radius: 8px

	.card-container
		background-color: $color-black-bravo
		padding: 4px
		height: 180px
		width: 320px

	.card
		background-color: $color-black-charlie
		//width: 100%
		//height: 100%

		h2
			padding: 16px 16px 16px 16px