$color-black-round: #000
$color-black-bravo: #0f0f0f
$color-black-charlie: #1e1e1e

*
	color: #fff
	font-family: 'Franklin Gothic'
	overflow: hidden

body
	margin: 0
	overflow: hidden

body, html
	height: 100%
	width: 100%

#glow
	background: radial-gradient(circle 20vmin, #f44, #f440)
	flex-grow: 0
	flex-shrink: 0
	height: 40vmin
	position: relative
	transform: translate(-50%, -50%)
	z-index: -1
	width: 40vmin

html
	background-color: #000

h1, h2, h3, h4, h5, h6, p
	line-height: normal
	margin: 0

.cards
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	width: 100%

	.card-container
		background-color: $color-black-bravo
		border-radius: 8px
		display: flex
		height: 180px
		margin: 4px
		padding: 2px
		z-index: -1
		width: 320px

	.card
		background-color: $color-black-charlie
		border-radius: 6px
		flex-grow: 1
		//z-index: 1

		h2
			padding: 16px

		p
			padding: 0 12px 0 12px
